# ======================
# DATABASE
# ======================
DATABASE_URL= postgresql://postgres:123456@localhost:5432/codeShaper_toi?schema=public

# ======================
# APPLICATION
# ======================
BASE_URL=http://localhost:3001
#BASE_URL=https://unrounded-tonita-irritative.ngrok-free.dev
NODE_ENV= development
API_PREFIX= 

# ======================
# JWT (for future auth)
# ======================
JWT_SECRET= 0b2f74c9a38e8a5e7c41d38f9236b4e8f1d9a3f7c2d15e6a4b9d3e2c6f5a8b7c
JWT_EXPIRES_IN=1000000
JWT_REFRESH_SECRET= 91e6a3d1b4f7e9c8a2d5c3f8b1e7a9d6c4f2b8e1a5d9c7f4b3e8a1f2c5d7e9b
JWT_REFRESH_EXPIRES_IN= 300000000

# ======================
# CORS
# ======================
CORS_ORIGINS=http://localhost:3000,https://api.goposly.com,https://goposly.com


# ======================
# OTP SETTINGS
# ======================
MAX_WRONG_PASSWORD_FAIL_COUNT=5
LOCKOUT_DURATION_MINUTES= 5
MAX_OTP_FAIL_COUNT=5
MAX_RESEND_OTP_COUNT=5
OTP_EXPIRE_DURATION_MINUTES= 5
MAX_EMAIL_CHANGE_COUNT=3
MAX_PHONE_CHANGE_COUNT=3
# ======================
# THROTTLE/RATE LIMITING
# ======================
THROTTLE_TTL=60
THROTTLE_LIMIT=10

# ======================
# SWAGGER/API DOCUMENTATION
# ======================
SWAGGER_ENABLED=true
SWAGGER_PATH=docs
SWAGGER_TITLE=TOI API Documentation
SWAGGER_DESCRIPTION=API documentation for the Crypto currency application
SWAGGER_VERSION=1.0.0
SWAGGER_USER=admin
SWAGGER_PASSWORD=StrongPassword123!

DAY_FOR_STAKING_BEFORE_INIT=1


# ======================
# File Upload Storage Configuration
# ======================
# Provider: s3 | local
STORAGE_TYPE=s3  # Options: local, s3

# Local Storage
STORAGE_LOCAL_PATH=./uploads

# AWS S3 Configuration
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_HERE
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY_HERE
AWS_S3_BUCKET=amzn-s3-toi-demo


# ======================
# MAIL CONFIGURATION
# ======================
# Provider: sendgrid | mailtrap | aws-ses
MAIL_PROVIDER=mailtrap
MAIL_FROM_EMAIL=noreply@toiplatform.com
MAIL_FROM_NAME=TOI Platform

# SendGrid (when MAIL_PROVIDER=sendgrid)
SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Mailtrap (when MAIL_PROVIDER=mailtrap)
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=c607daa07ca4b5
MAILTRAP_PASS=bb0942fba24ab6

# ======================
# SMS CONFIGURATION
# ======================
# Provider: twilio
SMS_PROVIDER=twilio

# Twilio (when SMS_PROVIDER=twilio)
TWILIO_ACCOUNT_SID=AC_YOUR_SID_HERE
TWILIO_AUTH_TOKEN=04e24763fb880a8ddd5a7a1fcbf15755
TWILIO_FROM_NUMBER=+13292150338


# ======================
# NOW Payments service INTEGRATIONS
NOWPAYMENTS_BASE_URL=https://api.nowpayments.io/v1
NOWPAYMENTS_API_KEY=1R6W1NX-D1A4BAF-JBSRGTM-2AJ1TBM
NOWPAYMENTS_IPN_SECRET="khsakfhkfhaskfhaskfhaskfhaskfhaskfhaskfhask"

NOWPAYMENTS_IPN_URL = https://prosperous-maisie-trichotomously.ngrok-free.dev/api/v1/staking/payment-webhook
PAYMENT_SUCCESS_URL=http://localhost:3000/payment/success
PAYMENT_CANCEL_URL=http://localhost:3000/payment/cancel

NOWPAYMENTS_EMAIL = "sukelali@gmail.com"
NOWPAYMENTS_PASSWORD = "Sukel#123"
